.card {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid rgb(214, 214, 214);
    padding: 20px 0;
}

.card div {
    margin-right: 20px;
}

.button {
    background-color: white;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
    color: rgb(83, 83, 83);
    font-size: 30px;
    padding: 0 5px 5px 5px;
  }